
.centered {
  margin: auto;
  display: inline-block;
}

.description {
  color: #aeafaf;
}

.green {
  background-color: #329C54;
  color: white;
}

h2 {
  margin-bottom: 0px;
}

.top-50 {
  margin-top: 50px;
}




