 <mat-toolbar class="app-toolbar no-print mat-toolbar mat-primary mat-toolbar-multiple-rows" color="primary">
  Home
</mat-toolbar>

<mat-card >
  <div class="row">
    <div class="col-sm-4">
      <div class="centered text-left">
        <h2>$50,000</h2>
        <span class="small description">
          Balance
        </span> 
      </div>
    </div>
    <div class="col-sm-4">
      <div class="centered text-left">
        <h2>$50,000</h2>
        <span class="small description">
          Available funds
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="centered text-left">
        <h2>$100,000</h2> 
        <span class="small description">
          Credit limit
        </span>        
      </div>
    </div>
  </div>
  
  <div class="row top-50">
    <div class="col-sm-6 pull-right text-right">
      <button mat-raised-button class="submit">MAKE A DRAW</button>
    </div>
  </div>
    
</mat-card>
